@import 'tailwindcss';

:root {
  --primary: #2BB32A;
}

@layer base {
  html, body {
    @apply flex flex-col min-h-full
  }

  body {
    @apply flex-1 bg-black text-white;
    background-image: url('./assets/img/bg/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .container {
    @apply mx-auto px-8;
  }

  h2 {
    @apply text-3xl sm:text-4xl xl:text-6xl font-bold mb-4;
  }

  .subtitle {
    @apply opacity-50 mb-10 text-lg xl:text-xl;
  }
}

@layer components {
  .page_wrapper {
    @apply flex flex-col flex-1;
  }

  .page {
    @apply flex-1 flex flex-col;
  }

  .page > main {
    @apply flex-1 flex flex-col;
  }
  
  .header {
    @apply py-10
  }

  .header .container {
    @apply flex flex-nowrap items-center justify-between gap-8;
  }

  .menu {
    @apply hidden lg:flex flex-nowrap gap-x-8 gap-y-1 items-center;
  }

  .menu a {
    @apply font-[500] transition;
  }

  .menu a:hover {
    color: var(--primary);
  }

  .menu_toggle {
    @apply lg:hidden cursor-pointer;
  }

  .drawer {
    @apply bg-black fixed top-0 right-0 h-full p-10 w-[300] flex flex-col lg:hidden;
  }

  .drawer_header {
    @apply flex flex-nowrap gap-1 items-center justify-between mb-10 cursor-pointer;
  }

  .drawer_menu a {
    @apply font-[500] transition;
  }
  
  .drawer_menu {
    @apply flex flex-col gap-4;
  }

  .drawer_menu a:hover {
    color: var(--primary);
  }

  .drawer_body {
    @apply flex flex-col justify-between flex-1;
  }

  .footer {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
  }

  .footer_btm {
    @apply py-8 text-sm opacity-50;
  }

  .footer_btm .container {
    @apply flex flex-wrap gap-4 items-center justify-between;
  }

  .footer_top {
    @apply pt-10;
  }

  .footer_top .container {
    @apply grid lg:grid-cols-[0.75fr_2fr] gap-x-10 gap-y-8;
  }

  .footer_menu {
    @apply grid grid-cols-[auto_auto] lg:grid-cols-4 gap-x-8 gap-y-4;
  }

  .footer_menu nav a {
    @apply flex opacity-50 my-2 transition;
  }
  .footer_menu nav a:hover {
    color: var(--primary);
    @apply opacity-100;
  }

  .section {
    @apply my-15 lg:my-30;
  }

  .section_apps {
    @apply my-0;
  }

  .row_1 {
    @apply grid grid-cols-1 lg:grid-cols-2 gap-y-10 gap-x-10 items-center text-center lg:text-left;
  }

  .btn_bd {
    @apply py-2 px-4 sm:px-8 border border-2 rounded-full font-bold hover:bg-white hover:border-white cursor-pointer transition text-center;
    color: var(--primary);
    border-color: var(--primary);
  }

  .apps {
    @apply inline-flex flex-wrap gap-4 items-center mx-auto lg:mx-0;
  }

  .app {
    @apply p-2 sm:py-5 sm:px-6 rounded-xl flex items-center justify-center transition duration-300 ease-in-out transform hover:-translate-y-1.5;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }

  .accordion {
    @apply text-left flex flex-col gap-6 mt-10 lg:mt-20;
  }

  .accordion_toggle {
    @apply flex flex-nowrap items-center justify-between gap-2 cursor-pointer select-none;
  }
  .accordion_toggle svg {
    @apply min-w-[30];
  }

  .accordion_body {
    @apply opacity-50 overflow-hidden transition-transform duration-500 ease-in-out;
  }

  .accordion_item {
    @apply border-b pb-6;
    border-color: rgba(255, 255, 255, 0.2);
  }

}